@font-face {
    font-family: 'Lexend';
    src: url("../fonts/lexend.ttf") format("truetype");
}

* {
    box-sizing: border-box !important;
    font-family: 'Lexend';
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    justify-items: center;
    align-content: center;
    height: 100vh; /* Garante que o body ocupe a altura total da viewport */
}

.window {
    width: 99.5vw;
    height: 99vh;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.window-bar {
    height: 30px;
    width: 100%;
    display: flex;
    background: linear-gradient(to right, #0150e4, #001C9F);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px;
}

.window-bar p {
    color: #ffffff;
    font-size: 13px;
}

.fa-minus,
.fa-window-restore,
.fa-xmark {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #ddd;
    filter: drop-shadow(-2px -2px 0px #fff);
    box-shadow: 2px 2px 0px #858585;
    width: 15px;
    height: 15px;
    font-size: 11px;
    cursor: pointer;
}

.marks {
    display: flex;
    gap: 10px;
}

header {
    display: flex;
    width: 100%;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    background-color: #dddddd;
    border-radius: 2px;
    filter: drop-shadow(-2px -2px 0px #fff);
    box-shadow: 2px 2px 0px #858585;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    z-index: 2;
    gap: 30px;
}

.item {
    display: flex;
    width: 150px;
    justify-content: center;
    text-align: center;
    font-size: clamp(13px, 2.5vw, 13px);
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    text-wrap: nowrap;
    cursor: pointer;
    background-color: #ddd;
    filter: drop-shadow(-2px -2px 0px #fff);
    box-shadow: 2px 2px 0px #858585;
    border-radius: 2px;
}

.item:hover,
.fa-minus:hover,
.fa-window-restore:hover,
.fa-xmark:hover:hover {
    transition: 0s linear;
    background-color: #cfcfcf;
    filter: drop-shadow(-3px -3px 0px #646464);
    box-shadow: 2px 2px 0px #ffffff;
    translate: 1px 1px;
}

.item:hover::after {
    width: 100%;
    transition: width 0.3s;
}

.icon {
    display: none;
    color: #000;
    text-align: center;
    font-size: clamp(22px, 4vw, 40px);
    padding: 20px;
    cursor: pointer;
}

#menu {
    display: none;
}

@media (max-width: 608px) {
}